.DeleteMenuForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
    font-size: 15px;
}

.DeleteMenuForm h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.DeleteMenuForm h5 {
    margin-top: 0px;
    margin-bottom: 0px ;
    font-size: 20px;
}

.SelectionAndPhoto {
    align-items: center;
}

.selectedMenu {
    font-weight: bold;
    color: red;
}

.DeleteItemButton {
    background-color: orangered;
    color: white;
    box-shadow: 3px 3px 3px black;
    height: 30px;
    width: 180px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 20px;
}

.NopeItemButton {
    background-color: black;
    color: white;
    box-shadow: 3px 3px 3px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    width: 180px;
}
