.ItemDetail {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 15px;
  align-items: center;
  width: 750px;
}

.NameAndDes {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 15px;
  justify-content: center;
  flex: 1;
  padding: 15px;
}

.ItemDetail {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 15px;
  align-items: center;
  width: 750px;
}

.itemdes {
  font-weight: lighter;
}

.ItemImage {
  width: 200px;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  flex: 0 0 30%;
}

.fa-solid.fa-circle-plus{
  font-size: 30px;
  transition: font-size 1s ease;
}

.fa-solid.fa-circle-plus:hover{
  font-size: 40px;
}

.AddButton {
  border: none;
  background-color: white;
}

.DesAndButton {
  display: flex;
  justify-content: space-between;
}
