.MenuTypeContainer{
    display: flex;
    font-size: 25px;
    gap: 25px;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 20px;

}

.MenuName:hover {
    cursor: pointer;
}

.Details {
    display: flex;
}

.CategoriesType {
    width: 200px;
    font-size: 20px;
}

.ItemImage {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    flex: 0 0 30%
}

.ItemDetail {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 15px;
    align-items: center;
    width: 700px;
}

.nameAndPrice {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
    flex: 1;
    padding: 10px;
}

.CategoriesType li {
    list-style: none;
}

.Items {
    display: flex;
    gap:20px;
    height: 150px
}

.itemdes {
    font-weight: lighter;
}
