.lpContainer {
    background:
        linear-gradient(to bottom, rgba(6, 6, 6, 0.6), rgba(6, 6, 6, 0.6)),
        url('https://images.unsplash.com/photo-1498601566872-21706d8e6fdf?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.lpContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
    margin-left: 50px;
    gap: 10px;
}
#lpH2{
    color: white;
    font-size: 42px;
    font-weight: 500;
    margin: 0;
}
.lpSignUpContainer{
    display: flex;
    gap: 10px;
}
.inputIconWrapper {
    position: relative;
    display: inline-block;
}

#lpIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
#lpInput {
    width: 400px;
    border: none;
    background-color: rgb(237, 237, 237);
    height: 40px;
    font-size: 16px;
    padding-left: 35px;
}
.lpButton{
    width: 125px;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}
.lpButton:hover{
    background-color: rgb(239, 239, 239);
}
.lpP{
    font-size: smaller;
    margin-top: 10px;
}
.lpLink{
    color: white;
}
